<header class="header">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top nav-custom">
    <a class="navbar-brand" href="#"><img src = "../favicon.ico" ></a>
    <ul class="navbar-nav">
      <li class="active"><a class="nav-link" routerLink="/product" routerLinkActive="active">Product</a></li>
      <li><a class="nav-link" routerLink="#">Department</a></li>
      <li><a class="nav-link" routerLink="#">Warehouse</a></li>
      <li><a class="nav-link" routerLink="#">Store</a></li>
    </ul>
  </nav>
</header>

<section class="container-fluid body-container">
  <router-outlet></router-outlet>
</section>


<footer class="page-footer font-small special-color-dark clear-body footer">
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://github.com/sonusinghrajput11/" target="_blank"> sonusinghrajput</a>
  </div>
</footer>